<div class="atomic-container">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/sponsors" [fragment]="'sponsors'" routerLinkActive="active">Sponsors</button>
        <button mat-menu-item routerLink="/speakers" [fragment]="'speakers'" routerLinkActive="active">Speakers</button>
        <button mat-menu-item routerLink="/organizers" [fragment]="'venue'" routerLinkActive="active">Venue</button>
        <button mat-menu-item routerLink="/organizers" [fragment]="'organizers'" routerLinkActive="active">Organizers</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>dehaze</mat-icon>
    </button>
</div>
