// atomic styles
@import './variables';

.atomic {
  &-container {
    max-width: $max-width;
    margin: 0 auto;
  }
  &-visibility {
    &--hidden {
      display: none;
    }
  }
  &-padding {
    &--small {
      margin: 0;
      padding: $safety-zone-s $safety-zone-m;
    }
  }
  &-hide {
    display: none;
    @media (min-width: 600px) {
      display: block;
    }
  }
  &-style {
    &--italic {
      font-style: italic;
      color: $c-wtm-dark-blue;
    }
    &--light {
      color: $c-white;
    }
    &--large {
      font-size: $font-size-m;

      @media (min-width: 768px) {
        font-size: $font-size-l;
      }
    }
  }
}
