// grid styles
.grid {
  &__base {
    display: grid;
    grid-template-columns: 1fr;
    &--left {
      @media (min-width: 400px) {
        grid-template-columns: 1fr 2fr;
      }
    }
    &--right {
      @media (min-width: 721px) {
        grid-template-columns: 2fr 1fr;
      }
      &.grid__base--nomobile {
        grid-template-columns: 1fr;
      }
    }
  }
}