// section default styles
@import './variables';
@import './mixins';

.section {
  &__base {
    padding: $safety-zone-m $safety-zone-s*2;

    &.atomic-padding {
      &--none {
        margin: 0;
        padding: 0;
      }
    }

    &.atomic-padding {
      &--small {
        margin: 0;
        padding: 0;
      }
    }

    &.sponsors {
      padding-top: 0;
      background-color: $c-wtm-background-color-contrast;

      .mat-grid-tile {
        @include boxShadow();
        background-color: white;
        .mat-figure {
          padding:0 10px;
        }
      }
    }
    &.speakers {
      padding-top: 0;
      background-color: $c-wtm-medium-grey;

      // tiles overrides!
      .mat-grid-tile .mat-figure {
        justify-content: left;
        padding-left: $safety-zone-s; 
      }

      .teaser {
        &__image {
          max-width: 150px;
          min-width: 150px;
          padding-right: $safety-zone-s;
        }
        &__hl,
        &__subHl {
          color: $c-wtm-dark-blue;
          font-weight: bold;
          font-size: 18px;

          @media(min-width: 675px) {
            font-size: 30px;
          }
        }
        &__hl {
          padding-top: 0;

          @media(max-width: 400px) {
            padding-top: 20px;
          }
        }
        &__subHl,
        &__social {
          font-size: 16px;

          @media(min-width: 675px) {
            font-size: 22px;
          }
        }
        &__social {
          color: $c-wtm-green;
          line-height: 3;

          @media(min-width: 675px) {
            font-size: 18px;
          }
        }
      }
    }
    &.cta {
      background-color: $c-wtm-background-color-section;
    }
    &.organizers {
      background-color: $c-wtm-yellow;

      .teaser {
        &__wrapper {
          max-width: 600px;
        }
        &__hl {
          font-size: 36px;
        }
        &__base {
          padding: 20px;
        }
        &__figure {
          padding:10px; 
        }
      }
      
    }
  }
}
