// teaser component styles
@import '../../styles/variables';

.teaser {
  &__wrapper {
    h2{
      padding-left:10px;
      padding-right:10px; 
    }
    &--hero {
      min-height: 400px;
      .teaser {
        &__description {
          width: 40%;
          color: $c-white;
          padding: $safety-zone-m;
        }
        &__hl {
          font-size: 36px;
        }
        &__txt {
          font-size: 24px;
          line-height: 1.6;
          &.atomic-special--date {
            font-style: italic;
          }
        }
      }
    }
    &--speakers {
      padding: 20px;
    }
  }
  &__extended {
    display: none;
    
  }
  &__hl {
    color: $c-white;
  }
  &__figure {
    img {
      max-width: 100%;
    }
  }
  &__extendedWrapper {
    background-color: $c-white;
    padding: 10px;
  }
  &__list {
    padding: 7px;
    background-color: $c-wtm-light-grey;
    margin-bottom: 20px;

    &:nth-child(odd) {
      border-bottom: 10px solid $c-wtm-yellow;
    }

    &:nth-child(even) {
      border-bottom: 10px solid $c-button-red;
    }

    &Item {
      display: flex;
      padding: 20px 0;

      @media(max-width: 400px) {
        display: block;
      }
    }
  }
}
