<section class="section__base atomic--container">
    <div class="stage__base">
        <div class="stage__description">
            <h3 class="stage__hl">International Women's Day 2019</h3>
            <div class="stage__infoWrapper">
              <span class="stage__txt atomic-special--date">6th of April | 6 de Abril · </span>
              <span class="stage__txt">Hotel Novotel | Barcelona</span>
            </div>
            <div class="caption__button">
                <a class="button__base button__base--red" href="#">Get Tickets/Consigue Entradas</a>
            </div>
            <span class="footer__span">Powered by</span><img src="assets/gdg.png" class="footer__logo" alt="Powered by GDG BCN" width="130" />
          </div>
    </div>    
  </section>