// stage component styles
@import '../../styles/variables';

.stage {
  &__base {
    color: $c-white;
    margin-top: $safety-zone-s;

    @media (min-width: 600px) {
      margin-top: $safety-zone-l+20px;
    }
  }
  &__hl {
    font-size: 36px;
    font-weight: 700;
  }
  &__txt {
    font-size: 24px;
    line-height: 1.6;
    &.atomic-special--date {
      font-style: italic;
    }
  }
}