// stage component styles
@import '../../styles/variables';

.stage {
  &__base {
    color: $c-white;
    margin-top: $safety-zone-s;

    @media (min-width: 600px) {
      margin-top: $safety-zone-l+20px;
    }
    .footer__logo {
      margin: 5px 0;
    }
  }
  &__hl {
    font-size: $font-size-m;
    font-weight: 700;

    @media (min-width: 500px) {
      font-size: $font-size-l;
    }
  }
  &__txt {
    font-size: 24px;
    line-height: 1.6;
    &.atomic-special--date {
      font-style: italic;
    }
  }
}