<section class="textimage__base section__base">
    <div class="atomic-container">
        <header class="textimage__header">
            <h2 class="textimage__hl">
                    Google's Women Techmakers program provides visibility, community, and resources for women in technology.
            </h2>
            <p class="textimage__txt">
                We are excited to announce the 4th edition of our annual event: International Women’s Day, on the 6th of April 2019.
            </p>
            <p class="textimage__txt">
                One full day of speaking breakouts in two tracks (one in Spanish and one in English), with a maximum capacity of 150 attendees. Being an all female speakers event on the subject of technology, it provides the opportunity to highlight and expose women talent, and contribute to reducing the industry gap.
            </p>
        </header>
        <section class="textimage__section atomic-style--italic atomic-style--light">
                <p class="textimage__txt">
                    Nos complace presentar la cuarta edición de nuestro evento anual: International Women’s Day, el día 6 de abril de 2019.
                </p>
                <p class="textimage__txt">
                    Una jornada entera de presentaciones y charlas en dos tracks (español e inglés), para un público de 150 participantes. Todas las ponentes son mujeres y nuestro tema es la tecnología, ofreciendo la oportunidad de exponer el talento femenino, y contribuir a reducir la falta de mujeres en el sector.
                </p>
        </section>
    </div>
</section>
