<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<header class="header__base">
    <img src="assets/WT_logo_horizontal_pos_.png" class="header__logo" alt="logo of {{title}}" />
    <h1 class="header__hl atomic-visibility--hidden">
        Welcome to {{ title }}!
    </h1>
    <nav class="mainnav__base">
        <app-main-nav></app-main-nav>
    </nav>
</header>
<div class="stage">
    <app-stage></app-stage>
</div>
<main class="main__base">
  <div class="main__content">
      <app-textimage></app-textimage>
      <section class="section__base cta">
        <div class="atomic-container">
            <div class="caption__base">
                <p class="caption__txt">International Women’s Day is a completely free access event, and the kind support of our sponsors is vital to make it possible. This is why, we would like to invite you to review our sponsorship plan</p>
            </div>
            <div class="caption__base">
                <p class="caption__txt atomic-style--italic">International Women’s Day es un evento completamente gratuito para los asistentes, por lo que el apoyo de nuestros sponsors es vital para hacerlo posible. Les invitamos a visitar nuestra presentación para sponsors <a href="https://docs.google.com/presentation/d/1zJUPBgUp7zsVr9v1_LuttH50p-3NyEDptkrjZKEQ2Zs/edit#slide=id.g4ab466c137_1_0">haciendo click aqui</a></p>
            </div>
            <div class="caption__button">
                <app-button></app-button>
            </div>
        </div>
      </section>
      <section id="sponsors" class="section__base sponsors atomic-padding--none grid__base grid__base--left">
        <div class="aside__base atomic-padding--small dark">
            <h2 class="aside__hl">Meet our sponsors</h2>
            <p class="aside__txt">The following companies support our event and diversity integration in Barcelona.</p>
            <p class="aside__txt">Thank you for making this possible!</p>
            <h2 class="aside__hl atomic-style--italic">Conoce a nuestros sponsors</h2>
            <p class="aside__txt atomic-style--italic">Nuestros sponsors apoyan nuestro evento y la diversidad e integración, en Barcelona. ¡Gracias por hacerlo posible!</p>
        </div>
        <app-teaserlist [type]="teaserType.Sponsor"></app-teaserlist>
      </section>
      <section id="speakers" class="section__base speakers atomic-padding--none grid__base grid__base--right">
        <div class="spinner__base"><mat-spinner></mat-spinner>
                <app-teaserlist [type]="teaserType.Speaker"></app-teaserlist>
        </div>
        
        <div class="aside__base atomic-padding--small clear">
            <h2 class="aside__hl">Meet our speakers</h2>
            <p class="aside__txt">Please come back to see the list of selected speakers and the agenda!</p>
            <h2 class="aside__hl atomic-style--italic">Conoce a nuestras ponentes</h2>
            <p class="aside__txt atomic-style--italic">¡Ven a ver la lista de ponentes y las charlas seleccionadas!</p>
            <div class="aside__btn">
                    <a class="button__base button__base--green" href="https://goo.gl/forms/ow61OI0ex5Uka2y23">Apply to our C4P</a>
            </div>
        </div>
        </section>
        <section id="venue" class="section__base atomic-padding--none">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.6323637469445!2d2.189109415409504!3d41.40378967926268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a323988cf42f%3A0x755236f659bb1982!2sHotel+Novotel+Barcelona+City!5e0!3m2!1ses!2ses!4v1550613749720" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
        <section id="organizers" class="section__base organizers atomic-padding--none grid__base grid__base--right">
             <app-teaserlist [type]="teaserType.Organizer"></app-teaserlist>
             <div class="aside__base atomic-padding--small clear">
                <h2 class="aside__hl">Join us!</h2>
                <p class="aside__txt">Be part of our vibrant and active community, and participate of our meetups and other events.</p>
                <h2 class="aside__hl atomic-style--italic">¡Únete!</h2>
                <p class="aside__txt atomic-style--italic">Participa de una comunidad activa y vibrante, y se parte de nuestros eventos y meetups.</p>
                <h2 class="aside__hl atomic-style--large atomic-hide">#WTM19 #WomenTechmakers #WTMBarcelona</h2>
            </div>
        </section>
  </div>
</main>
<footer class="footer__base">
    <div class="atomic-container">
        <nav class="footer__nav">
            <a class="footer__navLink twitter" href="https://twitter.com/wtmbcn"></a>
            <a class="footer__navLink meetup" href="https://www.meetup.com/es-ES/wtmbcn/"></a>
            <a class="footer__navLink linkedin" href="https://www.linkedin.com/company/women-techmakers-bcn/"></a>
        </nav>
        <div class="footer__disclaimer">
            <span class="footer__span">©2019 · Made with love by @wtmbcn</span>
        </div>
        <div class="footer__disclaimer">
            <span class="footer__span">Powered by</span><img src="assets/gdg.png" class="footer__logo" alt="Powered by GDG BCN" width="130" />
        </div>
    </div>
</footer>
